<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    This will activate all the annotations in the project-->
    <context:annotation-config />

<!--    If we change the name of this bean to something else like "add", it will give me null-->
<!--    <bean class="com.example.demo8.Address" name="address2">-->
<!--        <property name="street" value="Temp street"/>-->
<!--        <property name="city" value="Kolkata"/>-->
<!--    </bean>-->

<!--    If we change the name, then we can do autowiring by type. IOC will search for bean with type address-->
    <bean class="com.example.demo8.Address" name="address">
        <property name="street" value="Tempo street"/>
        <property name="city" value="Bengaluru"/>
    </bean>

<!--    The bean will search if there is any bean with name present in the config file-->
<!--    For byName, the bean name should be same as the reference name like "address" is same as we declared inside Emp class-->
<!--    <bean class="com.example.demo8.Emp" name="emp1" autowire="byName"/>-->
<!--    <bean class="com.example.demo8.Emp" name="emp2" autowire="byType"/>-->

<!--    This will call from the parametrized constructor-->
    <bean class="com.example.demo8.Emp" name="emp2" autowire="constructor"/>

</beans>